@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald:400,700');

/*
Available fonts:
font-family: 'Oswald', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  background: #585252;
  color: #FFF;
}

h1 { font-size: 4em;}
h2 { font-size: 1.5em;}

.nav {
  width: 100%;
  background: #e8e8e8;
  font-size: 1.75em;
  padding: 20px;
}

.nav a {
  font-family: 'Oswald', sans-serif;
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}
.nav a:hover {
  color: #000;
}

.player-name { margin: 0 0 10px 0; }

.player-photo { width: 500px; }

.photo-container {
  width: 500px;
  height: 400px;
  object-fit: fill; }

.player-details {
  font-size: 1.25em;
  color: #FFF;
}
